 *{
    margin: 0;
    padding: 0;
    list-style: none; 
}

body{
    background-color: #000;
}

span{
    width: 30px;
    height: 30px;
    background: url(../img/star.png) no-repeat;
    position: absolute;
    background-size:100% 100%;
    animation: flash 1s alternate infinite;
}
        
@keyframes flash {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

span:hover{
    transform: scale(3, 3) rotate(180deg) !important;
    transition: all 1s;
}