a{
	text-decoration: none;
}
.top{
	margin: 0;
	padding: 0;
	/*list-style: none;*/
	width: 100%;
	height: 300px;
	background-image: url(../img/23.jpg);
	}

.ul-top{
	color: white;
	margin-left: 39%;
	list-style: none;
	
	
}
.li-top{
	
	float: left;
	margin: 50px;
}
.center{
	/*padding-top: 0;
	margin-top: 0;
	background-color: antiquewhite;*/
}
.ul-center{
	width: 6%;
	color: black;
	list-style: none;
	margin-left: 13%;
}
.li-center1{
	padding: 15px;
	background-color: aquamarine;

	
}
.li-center{
	padding: 15px;
	background-color: lightgray;
}
