h1{
	margin:0px;
	padding: 0px;
	height: 50px;
	width: 100px;
	float: left;
}

.top{
	height: 50px;
	width: 60%;
	/*background-color: #eee;*/
	/*padding: 0pt;
	margin: 0pt;*/
	float: right;

}
.daohang{
	float: right;
	
	
}
li{
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	list-style: none;
}
/*.center{
	margin-top: 600px;
}*/
.gengduochanpin{
	background-color:cornflowerblue;
}
